<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <%- include ('./components/head') %>
</head>
<body>
    <nav>
      <%- include ('./components/nav') %>
    </nav>
    <div class="mensagemTopo">
    <% if(mensagem != "") {  %>

      <section id="message">
          <p><%= mensagem %></p> <span id="close">&times;</span>
      </section>
  <% }  %> 
  </div>
    <main>
    <section id="cadastro">
      <h2>Cadastre uma camiseta!</h2>
        <img src="https://a-static.mlcdn.com.br/1500x1500/camiseta-branca-para-uniforme-modelo-basic-uniformes-corporativos/citerol/08030004999xg/4a76926bf51438bdefc277770c3a4a66.jpg" alt="camiseta para cadastro" />
        
          
          <form action="/create" method="POST">

            <div class="cadastroNome">
              <label id="labelNome" for="nome">Nome:</label>
              <input type="text" id="nome" name="nome"   placeholder="Digite o nome da camiseta..." required/>
            </div>

            <div class="lugarDescricao">
              <label id="labelDescricao" for="descricao">Descrição:</label>
              <input type="text" id="descricao" name="descricao"   placeholder="Digite a descrição da camiseta..." required>
            </div>

            <div class="cadastroTamanho">
              <label id="labelTamanho" for="tamanho">Tamanho:</label>
            <select id="tamanho" name="tamanho" required >
              <option  value="">SELECIONE</option>
              <option value="P">tamanho P</option>
              <option value="M">tamanho M</option>
              <option value="G">tamanho G</option>
              <option value="XG">tamanho XG</option>
              <option value="XXG">tamanho XXG</option>
            </select>
           </div>
            <div class="cadastroImagem">
              <label id="labelImagem" for="imagem">Link da imagem:</label>
              <input type="text" id="imagem" name="imagem"  placeholder="https://cdn.shopify.com/s/files/1/0046/0167/5810/products/TS-M-_-BLK-PEBL321__232_500x.jpg?v=1646390007" required/>
            </div>
            <div class="botaoCadastro">
              <button  id="btnCadastro" class="buttonDisable" type="submit">Cadastrar</button>
              <button class="btnVoltarCadastro">
                <a href="/">Voltar</a>
              </button>
              
      </div>
      </form>
            </section>
          </main>
<footer>
  <%- include ('./components/footer') %>
</footer>
<script src="/JS/script.js"></script>
<script src="/JS/scriptValidacao.js"></script>
</body>
</html>