<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include ('./components/head') %>
</head>
<body>
    <nav>
        <%- include ('./components/nav') %>
    </nav>
    
        <div class="tudo">
            <section class="imgFundoSobre">
                <img src="/IMG/fundoSobre.png" alt="imgSobre">

            </section>
        
        <div class="sobre">
           
        <section class="sobreNos">
            <img src="https://avatars.githubusercontent.com/u/98226434?s=400&v=4" alt="">
            <h3>Luis Couto</h3>
            <p>GITHUB: <a href="https://github.com/LHcouto">https://github.com/LHcouto</a></p>

        </section>
        
        <section class="sobreNos">
            <img src="https://avatars.githubusercontent.com/u/96138394?v=4" alt="">
            <h3>Kellbber Barcarolo</h3>
            <p>GITHUB: <a href="https://github.com/Kellbber">https://github.com/Kellbber</a></p>


        </section>
        
        <section class="sobreNos">
            <img src="https://avatars.githubusercontent.com/u/11823634?v=4" alt="">
            <h3>Hilton Jun Honda</h3>
            <p>GITHUB: <a href="https://github.com/HiltonJun">https://github.com/HiltonJun</a></p>

        </section>
        
        <section class="sobreNos">
            <img src="https://avatars.githubusercontent.com/u/97922574?v=4" alt="">
            <h3>João P T Lima</h3>
            <p>GITHUB: <a href="https://github.com/thulerjoao">https://github.com/thulerjoao</a></p>

        </section>
    </div>
</div>
    
    <footer>
        <%- include ('./components/footer') %>
    </footer>
</body>
</html>